#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# credentials
creds

# keeping the tmp dir but not tracking anything
tmp/*
!tmp/readme.txt



